In [1]:
import pandas as pd
df = pd.read_csv('world.csv')
df

,ID,iso_code,洲名,國家,日期,總確診數,新增確診數,七天移動平均新增確診數,總死亡數,新增死亡數,...,七天移動平均疫苗新增接種劑數,每百人接種疫苗劑數,每百人接種疫苗人數,疫情控管指數,總人口數,中位數年紀,70歲以上人口比例,平均壽命,解除隔離數,解封指數
0,1,AFG,亞洲,阿富汗,2020-02-24,5,5,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
1,2,AFG,亞洲,阿富汗,2020-02-25,5,0,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
2,3,AFG,亞洲,阿富汗,2020-02-26,5,0,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
3,4,AFG,亞洲,阿富汗,2020-02-27,5,0,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
4,5,AFG,亞洲,阿富汗,2020-02-28,5,0,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187880,187881,ZWE,非洲,辛巴威,2022-07-02,255586,0,39.571,5555,0,...,6190.0,79.41,41.81,0.00,15092171,19.6,1.882,61.49,0,99999.0
187881,187882,ZWE,非洲,辛巴威,2022-07-03,255586,0,33.000,5555,0,...,8710.0,79.55,41.86,0.00,15092171,19.6,1.882,61.49,0,99999.0
187882,187883,ZWE,非洲,辛巴威,2022-07-04,255726,140,49.000,5558,3,...,10797.0,79.67,41.90,0.00,15092171,19.6,1.882,61.49,0,99999.0
187883,187884,ZWE,非洲,辛巴威,2022-07-05,255755,29,53.143,5558,0,...,10821.0,79.68,41.90,0.00,15092171,19.6,1.882,61.49,0,99999.0
187884,187885,ZWE,非洲,辛巴威,2022-07-06,255805,50,40.714,5560,2,...,0.0,0.00,0.00,0.00,15092171,19.6,1.882,61.49,0,99999.0

In [10]:
import pandas as pd

all_data = pd.read_csv('world.csv')
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187885 entries, 0 to 187884
Data columns (total 33 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              187885 non-null  int64
 1   iso_code        187885 non-null  object
 2   洲名              187885 non-null  object
 3   國家              187885 non-null  object
 4   日期              187885 non-null  object
 5   總確診數            187885 non-null  int64
 6   新增確診數           187885 non-null  int64
 7   七天移動平均新增確診數     187885 non-null  float64
 8   總死亡數            187885 non-null  int64
 9   新增死亡數           187885 non-null  int64
 10  七天移動平均新增死亡數     187885 non-null  float64
 11  每百萬人確診數         187885 non-null  float64
 12  每百萬人死亡數         187885 non-null  float64
 13  傳染率             187885 non-null  float64
 14  新增檢驗件數          187885 non-null  int64
 15  總檢驗件數           187885 non-null  int64
 16  每千人檢驗件數         187885 non-null  float64
 17  七天移動平均新增檢驗件數    187885 non-null  float64
 18  陽性率             187885 non-null  float64
 19  每確診案例相對檢驗數量     187885 non-null  float64
 20  疫苗總接種總劑數        187885 non-null  int64
 21  疫苗總接種人數         187885 non-null  int64
 22  疫苗新增接種劑數        187885 non-null  int64
 23  七天移動平均疫苗新增接種劑數  187885 non-null  float64
 24  每百人接種疫苗劑數       187885 non-null  float64
 25  每百人接種疫苗人數       187885 non-null  float64
 26  疫情控管指數          187885 non-null  float64
 27  總人口數            187885 non-null  int64
 28  中位數年紀           187885 non-null  float64
 29  70歲以上人口比例       187885 non-null  float64
 30  平均壽命            187885 non-null  float64
 31  解除隔離數           187885 non-null  int64
 32  解封指數            187885 non-null  float64
dtypes: float64(17), int64(12), object(4)
memory usage: 47.3+ MB

In [2]:
df[df["國家"] == "阿富汗"]

,ID,iso_code,洲名,國家,日期,總確診數,新增確診數,七天移動平均新增確診數,總死亡數,新增死亡數,...,七天移動平均疫苗新增接種劑數,每百人接種疫苗劑數,每百人接種疫苗人數,疫情控管指數,總人口數,中位數年紀,70歲以上人口比例,平均壽命,解除隔離數,解封指數
0,1,AFG,亞洲,阿富汗,2020-02-24,5,5,0.000,0,0,...,0.0,0.0,0.0,8.33,39835428,18.6,1.337,64.83,0,99999.0
1,2,AFG,亞洲,阿富汗,2020-02-25,5,0,0.000,0,0,...,0.0,0.0,0.0,8.33,39835428,18.6,1.337,64.83,0,99999.0
2,3,AFG,亞洲,阿富汗,2020-02-26,5,0,0.000,0,0,...,0.0,0.0,0.0,8.33,39835428,18.6,1.337,64.83,0,99999.0
3,4,AFG,亞洲,阿富汗,2020-02-27,5,0,0.000,0,0,...,0.0,0.0,0.0,8.33,39835428,18.6,1.337,64.83,0,99999.0
4,5,AFG,亞洲,阿富汗,2020-02-28,5,0,0.000,0,0,...,0.0,0.0,0.0,8.33,39835428,18.6,1.337,64.83,0,99999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,AFG,亞洲,阿富汗,2022-07-02,182643,49,81.571,7723,0,...,0.0,0.0,0.0,11.11,39835428,18.6,1.337,64.83,0,99999.0
860,861,AFG,亞洲,阿富汗,2022-07-03,182724,81,82.143,7724,1,...,0.0,0.0,0.0,11.11,39835428,18.6,1.337,64.83,0,99999.0
861,862,AFG,亞洲,阿富汗,2022-07-04,182793,69,80.714,7725,1,...,0.0,0.0,0.0,11.11,39835428,18.6,1.337,64.83,0,99999.0
862,863,AFG,亞洲,阿富汗,2022-07-05,182793,0,67.000,7725,0,...,0.0,0.0,0.0,11.11,39835428,18.6,1.337,64.83,0,99999.0
863,864,AFG,亞洲,阿富汗,2022-07-06,182979,186,82.286,7725,0,...,0.0,0.0,0.0,0.00,39835428,18.6,1.337,64.83,0,99999.0

In [11]:
all_data = pd.read_csv('world.csv',usecols=['國家','日期','總確診數','新增確診數','新增死亡數'])
all_data

         國家          日期    總確診數  新增確診數  新增死亡數
0       阿富汗  2020-02-24       5      5      0
1       阿富汗  2020-02-25       5      0      0
2       阿富汗  2020-02-26       5      0      0
3       阿富汗  2020-02-27       5      0      0
4       阿富汗  2020-02-28       5      0      0
...     ...         ...     ...    ...    ...
187880  辛巴威  2022-07-02  255586      0      0
187881  辛巴威  2022-07-03  255586      0      0
187882  辛巴威  2022-07-04  255726    140      3
187883  辛巴威  2022-07-05  255755     29      0
187884  辛巴威  2022-07-06  255805     50      2

[187885 rows x 5 columns]

In [4]:
import pandas as pd
df = pd.read_csv('world.csv',usecols=['國家','日期','總確診數','新增確診數','新增死亡數'],index_col='國家')
df

             日期    總確診數  新增確診數  新增死亡數
國家
阿富汗  2020-02-24       5      5      0
阿富汗  2020-02-25       5      0      0
阿富汗  2020-02-26       5      0      0
阿富汗  2020-02-27       5      0      0
阿富汗  2020-02-28       5      0      0
..          ...     ...    ...    ...
辛巴威  2022-07-02  255586      0      0
辛巴威  2022-07-03  255586      0      0
辛巴威  2022-07-04  255726    140      3
辛巴威  2022-07-05  255755     29      0
辛巴威  2022-07-06  255805     50      2

[187885 rows x 4 columns]

In [12]:
#使用mask,透過值選取資料
all_data[all_data['國家'] == '台灣']

        國家          日期     總確診數  新增確診數  新增死亡數
163986  台灣  2020-01-16        0      0      0
163987  台灣  2020-01-17        0      0      0
163988  台灣  2020-01-18        0      0      0
163989  台灣  2020-01-19        0      0      0
163990  台灣  2020-01-20        0      0      0
...     ..         ...      ...    ...    ...
164884  台灣  2022-07-02  3837856  34807     96
164885  台灣  2022-07-03  3870528  32672     88
164886  台灣  2022-07-04  3893643  23115     69
164887  台灣  2022-07-05  3929627  35984    103
164888  台灣  2022-07-06  3964188  34561     95

[903 rows x 5 columns]

In [ ]:
#使用query()實體方法

taiwan = all_data.query('國家=="台灣"')

In [14]:
taiwan_japan = all_data.query('國家=="台灣" or 國家=="日本"')

In [15]:
taiwan.query('新增確診數 >= 10000')
taiwan.query('新增確診數 >= 10000 and 新增死亡數 > 100')

        國家          日期     總確診數  新增確診數  新增死亡數
164847  台灣  2022-05-26  1640271  81891    104
164848  台灣  2022-05-27  1735067  94796    126
164849  台灣  2022-05-28  1815703  80636    163
164850  台灣  2022-05-29  1892272  76569    109
164851  台灣  2022-05-30  1952355  60083    109
164853  台灣  2022-06-01  2121231  88248    122
164854  台灣  2022-06-02  2198161  76930    144
164855  台灣  2022-06-03  2274666  76505    142
164857  台灣  2022-06-05  2404871  62077    276
164858  台灣  2022-06-06  2457881  53010    151
164859  台灣  2022-06-07  2540871  82990    124
164860  台灣  2022-06-08  2620941  80070    159
164861  台灣  2022-06-09  2693787  72846    211
164862  台灣  2022-06-10  2762080  68293    213
164863  台灣  2022-06-11  2841696  79616    211
164864  台灣  2022-06-12  2892263  50567    163
164865  台灣  2022-06-13  2937363  45100    109
164866  台灣  2022-06-14  3003501  66138    123
164867  台灣  2022-06-15  3072432  68931    143
164868  台灣  2022-06-16  3135565  63133    168
164869  台灣  2022-06-17  3190787  55222    154
164870  台灣  2022-06-18  3244453  53666    181
164871  台灣  2022-06-19  3295076  50623    172
164872  台灣  2022-06-20  3330695  35619    144
164873  台灣  2022-06-21  3387061  56366    115
164874  台灣  2022-06-22  3439279  52218    171
164875  台灣  2022-06-23  3487599  48320    166
164876  台灣  2022-06-24  3533335  45736    152
164877  台灣  2022-06-25  3573703  40368    151
164878  台灣  2022-06-26  3613345  39642    134
164880  台灣  2022-06-28  3686338  44417    103
164882  台灣  2022-06-30  3767283  38920    118
164883  台灣  2022-07-01  3803049  35766    121
164887  台灣  2022-07-05  3929627  35984    103